* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eeeeee;
  /* color: #fffff2; */
}

.app {
  display: flex;
  justify-content: space-evenly;

  padding: 20px;
}
.header > h1 {
  font-size: 32px;
  color: #cc1034;
}
.app__left {
  flex: 0.8;
}
.app__right {
  display: flex;
  flex-direction: column;
  height: 100% !important;
}
.app__right-secondH3 {
  margin: 25px 0 20px 0;
}

.app__right .MuiCardContent-root {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  margin-top: 15px;
}
.app__graph {
  flex-grow: 1;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}
.header__selectBox {
  background-color: #ffffff;
}
.statistics {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 900px) {
  .app {
    display: flex;
    flex-direction: column;
  }
}
