* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #202020;
  color: #fffff2;
}

.app {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}
.app__left {
  flex: 0.8;
}

.header{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}
.header__selectBox{
  background-color: red;
}
.statistics{
  display: flex;
  justify-content: space-between
}










@media (max-width: 900px) {
  .app {
    display: flex;
    flex-direction: column;
  }
}
